.app {
  position: sticky;
  padding: 2rem 0;
  display: grid;
  grid-template-areas:
    "filters sensors";
  grid-template-columns: auto 1fr;
  gap: 1rem;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.app__filters {
  grid-area: filters;
  position: sticky;
  padding: 1rem;
  top: 2rem;
  height: fit-content;
}

.app__sensors {
  grid-area: sensors;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 2rem;
  background-color: #fff;
}
